<!DOCTYPE html>
<html>
  <head>
    <title>Admissions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main">
      <h1>404 Page Not Found</h1>
      <p class="subtext">
        This is just a demo. Not all the informational links will be functional. Only the functionality related to 
        applications, viewing applications, making informational requests, admin portal, etc. will work. 
      </p>
    </div>
  </body>
</html>