<!DOCTYPE html>
<html>
  <head>
    <title>Admissions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main">
      <h1>Admin login</h1>
      <p class="subtext">
        This login page allows admissions officers to access the dashboard.
      </p>

      <form action="login" method="post">
        <% if (locals.message && message !== '') {%> 
          <p class="error"><%= locals.message %></p> 
        <% } %>
        
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="" required placeholder="john.doe23@mga.edu">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="" required>
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>