<!DOCTYPE html>
<html>
  <head>
    <title>Admissions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main">
      <div class="main-wrapper">
        <div class="left-col">
          <ul>
            <li class="list-header">Students</li>
            <li><a href="404">First Time Students</a></li>
            <li><a href="404">Transfer Students</a></li>
            <li><a href="404">High School Students</a></li>
            <li><a href="404">Former Students</a></li>
            <li><a href="404">Adult Learners</a></li>
            <li><a href="404">Transient Students</a></li>
          </ul>

          <ul>
            <li class="list-header">Learn More</li>
            <li><a href="404">Meet Your Recruiter</a></li>
            <li><a href="404">Schedule A Campus Tour</a></li>
            <li><a href="404">Schedule A Group Tour</a></li>
            <li><a href="404">Preview Day</a></li>
          </ul>
        </div>

        <div class="right-col">
          <ul>
            <li class="list-header">Financial</li>
            <li><a href="404">Estimated Costs</a></li>
            <li><a href="404">Financial Aid</a></li>
            <li><a href="404">Out-of-State Tuition Waivers</a></li>
            <li><a href="404">F1 Visa Status</a></li>
          </ul>

          <ul>
            <li class="list-header">Other</li>
            <li><a href="404">Accepted Student Checklist</a></li>
            <li><a href="404">Lawful Presence Verification</a></li>
            <li><a href="404">Links & Resources</a></li>
            <li><a href="404">Documents & Forms</a></li>
          </ul>
        </div>

        
        <h1>Office of Admissions</h1>
        <p class="subtext">Welcome to the College of Object Oriented Design. Please select an option that best suits your needs. This is Group 2's final project submission.</p> 
     </div>

     <div class="sidebar">
       <div class="big-button apply">
          <h3>Apply Now</h3>
          <p>Click here to start a new application.</p>
       </div>

       <div class="big-button status">
         <h3>Check Application Status</h3>
         <p>Click here to check existing application status.</p>
       </div>

       <div class="big-button info">
         <h3>Get More Information</h3>
         <p>Click here to contact the admissions office.</p>
       </div>

       <div class="big-button admin">
         <h3>Admin Portal</h3>
         <p>Click here to log into the admin portal.</p>
       </div>
     </div>

    </div>
  </body>
</html>